.detailContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: transparent;
}
.imgContainer{
    display: flex;
    width: 280px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.imgContainer img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.imgContainer h4, h5, p{
    font-size: large;
    margin: 10px 0;
    color: black
}

.titles1{
    font-size: 35px
}