.contadorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    background: transparent;
    color: black;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.containerControl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: white;
    width: 90%;
    height: 30px;
}

.botonCount {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    border-radius: 20%;
    background: rgb(72, 72, 245);
    border-color: white;
    cursor: pointer;
}
